- content_for :content do
  %h2 Your weekly summary for the week ending #{ @date }

  - if @number_of_running_test_files == 0
    %p{:style => content_p_styles}
      You don't currently have any test files set to run, so we're not keeping an eye on your sites.
    %p{:style => content_p_styles}
      Go to 
      = link_to "your test files page", test_files_url, :style => content_a_styles 
      to write a test file, or set some to run.
    %p{:style => content_p_styles}
      Please
      = mail_to 'contact@citrulu.com', "get in touch with us", :style => content_a_styles
      if there's anything we can do to help.
    
  -else
    %p{:style => content_p_styles}
      ="You currently have #{ pluralize(@number_of_running_test_files, 'test file') } set to run," 
      - if @number_of_domains == 0
        but no domains are actually being tested!
      - else
        covering #{ pluralize(@number_of_domains, 'domain') }.
      
  
  %p{:style => content_p_styles}
    - if @number_of_test_runs == 0 
      - if @number_of_running_test_files > 0
        Citrulu hasn't run any of your test files yet. This might be because you've only recently set them to run. If nothing gets run in the next hour or so, please
        = mail_to 'contact@citrulu.com', "get in touch with us", :style => content_a_styles
        and we'll look into it.
    -else
      Citrulu ran your tests #{pluralize(@number_of_test_runs, 'time')} this week and checked #{pluralize(@number_of_urls, 'url') }.
      - if @number_of_failed_test_runs == 0
        All of your runs completed successfully!
      - elsif @number_of_successful_test_runs == 0
        - if @number_of_failed_test_runs == 1
          That run
        - else
          All #{ @number_of_failed_test_runs } of those runs
        found problems.
      - else
        - # There must be at least one failed and one successful test run:
        #{ @number_of_successful_test_runs } of those runs completed successfully, but #{ @number_of_failed_test_runs } found problems.


  - unless @number_of_failed_test_runs == 0
    %p The pages that had problems this week were:
    %ul    
      - @broken_pages.each do |page|
        %li 
          %strong=truncated_test_url(page[:url], 15)
          breaks #{often_ness(page[:badness])} (#{pluralize(page[:fails_this_week], 'time')} this week)
  
  - unless @domains_list.blank?
    %p Over the past week we tested the following domains:
    %ul 
      - @domains_list.each do |domain|
        %li
          %strong= truncated_test_url('http://' + domain[:domain], 15)
          - if domain[:failure_rate] == 0
            didn't have any problems
          - else
            had problems
            = number_to_percentage(domain[:failure_rate], precision: 0)
            of the time


  - if @page_response_times
    %p{:style => content_p_styles} Your average response times for the week are:
    %ul
      - @page_response_times.each do |url, response_time|
        %li{:style => content_p_styles}
          ="#{ response_time.round }ms:"
          = truncated_test_url(url, 15)
  - elsif @fastest_page_response_times && @slowest_page_response_times
    %p{:style => content_p_styles} The pages with the slowest average response times for the week are:
    %ul
      - @slowest_page_response_times.each do |url, response_time|
        %li{:style => content_p_styles}
          ="#{ response_time.round }ms:"
          = truncated_test_url(url, 15)
    
    %p{:style => content_p_styles} The pages with the fastest average response times for the week are:
    %ul
      - @fastest_page_response_times.each do |url, response_time|
        %li{:style => content_p_styles}
          ="#{ response_time.round }ms:"
          = truncated_test_url(url, 15)
  - # else # TODO - do something in the case that @page response times is blank (i.e. no tests have been run in the last week)
  
  %table
    %tr
      %td{:width => "33%", :valign=> "top"}
        %h3 Up to date?
        %p{:style => content_p_styles} Is there more stuff you should be testing?
        %p{:style => content_p_styles} 
          =link_to "Update your tests", test_files_url
      %td{:width => "33%", :valign=> "top"}
        %h3 Full results
        %p{:style => content_p_styles} Want all the gory details?
        %br
        %p{:style => content_p_styles} 
          =link_to "Browse full results", test_runs_url
      %td{:width => "33%", :valign=> "top"}
        %h3 Plan
        %p{:style => content_p_styles} Your current plan: <em>Cornichon</em>
        %br
        %p{:style => content_p_styles} 
          =link_to "Upgrade", { :controller => :payments, :action => :choose_plan, :only_path => false }

= render :template => 'user_mailer/notification'