<p id="notice"><%= notice %></p>

<p>
  <b>Test group:</b>
  <%= @test_result.test_group_id %>
</p>

<p>
  <b>Assertion:</b>
  <%= @test_result.assertion %>
</p>

<p>
  <b>Value:</b>
  <%= @test_result.value %>
</p>

<p>
  <b>Name:</b>
  <%= @test_result.name %>
</p>

<p>
  <b>Result:</b>
  <%= @test_result.result %>
</p>


<%= link_to 'Edit', edit_test_result_path(@test_result) %> |
<%= link_to 'Back', test_results_path %>
