.row
  %header.span8
    %h1 Test File Editor

.row
  #test_suite.span8
    
    = form_for(@test_file, :remote => true, :html => {:id => "editor_form"}) do |f|
      #save_btn
        = f.submit "Save now", :class => "btn btn-primary"
        #editor_status=@status_msg
      = f.text_area :test_file_text, :id => "editor_content"
      #editor_wrapper 
        - #infuriating div required (?) to deal with the fact that the #editor element has no size 
        #editor
          Sorry the editor could not be loaded
 
    %section#console
      %h3 Console
    
      %div.output=console_line({:welcome => @console_output})
      
  #help.span4
    %header.section_title
      %h2 Help
    = accordion "help_sections" do
    
      = accordion_group("help_sections", "Overview", :h3, true) do
        %p SafeWTF's syntax is very simple. 
        %p First, decide which URLs you would like to test. Then, add each URL with at least one test:
        %pre="On http://example.com\n  I should see Welcome to this site"
        %p You can add as many URLs as you like, and as many tests as you like under each URL. 
        %p For more information on specific tests, expand the section below.
        
      = accordion_group("help_sections", "I should see", :h3, false) do
        %p This check retrieves a page and looks for text without looking at HTML tags. So, the following check:
        %pre="  I should [not] see Hello, world!"
        %p Would match all of:
        %pre="Hello, world!"
        %pre="<strong>Hello</strong> world!"
        %pre="Hello,<br>world!"
        
      = accordion_group("help_sections", "Source should [not] contain", :h3, false) do
        %p This check retrieves a page and looks for text in its source code. So, the following check:
        %pre="  I should see <strong>Hello</strong>, world!"
        %p Would match:
        %pre="Hello is bold: <strong>Hello</strong> world! Bold text is great!"
        
      = accordion_group("help_sections", "Headers should [not] include", :h3, false) do
        %p This check retrieves the headers of a page and looks for a header with the name you specify. So, the following check:
        %pre="  Headers should include: X-Varnish"
        %p Would match:
        %pre="X-Varnish: 128371292"
        %p But would not match:
        %pre="X-Varnish-Check: miss"
        
      = accordion_group("help_sections", "General tips", :h3, false) do
        %ul
          %li SafeWTF is case sensitive! So make sure your lines are capitalised.