$('#liveview div.group').empty();

<% if !@error.blank? %>
  $('#liveview div.group').append('<div class="fail error"><h3>Compilation Error</h3><p><%=j console_line(@error, "neutral", false) %></p></div>');
<% elsif !@results[:message].blank? %>
  $('#liveview div.group').append("<div class='fail error'><h3>Runtime Error</h3><p><%=@results[:message]%></p></div>");
<% else %>
  <% if !@results[:data].blank? %>
    $('#liveview div.group').append('<div class="url"><%= truncated_test_url(@results[:test_url]) %><div class="method"><abbr title="<%= @results[:data] %>"><%= @results[:method] %></abbr></div></div>');
  <% else %>
    $('#liveview div.group').append('<div class="url"><%= truncated_test_url(@results[:test_url]) %><div class="method"><%= @results[:method] %></div></div>');
  <% end %>

  <% if !@results[:so].blank? %>
    $('#liveview div.group').append('<div class="so"><%= @results[:so] %></div>');
  <% end %>

  <% @results[:test_results_attributes].each do |test| %>
    $('#liveview div.group').append("<div class='<%= (test[:result] ? 'pass' : 'fail')%>'><%= test[:original_line].strip %></div>");
  <% end %>
<% end %>

