= content_for :title, "Citrulu for website monitoring - change your password?"
= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
  %legend
    %h2 Change your password
  = f.hidden_field :reset_password_token
  = f.password_field :password, :placeholder => "New password"
  = f.password_field :password_confirmation, :placeholder => "Confirm new password"
  = f.submit "Change my password", :class => "btn btn-primary"
= render "links"
