= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  %legend
    %h3 Sign up
  = f.email_field :email, :placeholder => "Email"
  = f.text_field :invitation_code, :placeholder => "Invitation Code"
  = f.password_field :password, :placeholder => "Password"
  = f.password_field :password_confirmation, :placeholder => "Confirm Password"
  %p By registering for this service, you confirm that you agree to our #{link_to("Terms & Conditions", :action => "terms", :controller => "website")}.
  = f.submit "Sign up", :class => "btn btn-primary"
  %ul.unstyled.devise_links
    %li=link_to "Sign in", new_session_path(resource_name)
