%header.page-header 
  %h1 Account Settings
= devise_error_messages!

= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "form-horizontal" }) do |f|
  %ul.unstyled
    %li.control-group
      = f.label :email, :class => 'control-label'
      .controls
        = f.email_field :email
  
    %li.control-group 
      = f.label :password, :class => 'control-label'
      .controls
        = f.password_field :password
        = f.password_field :password_confirmation, :placeholder => "Confirm Password"
        %p.help-block Leave blank if you don't want to change it
    %li.control-group 
      = f.label :current_password, :class => 'control-label'
      .controls
        = f.password_field :current_password
        %p.help-block.text-error We need your current password to confirm changes to your email address or password.
        
    
    %li.control-group 
      = f.label :email_preference, :class => 'control-label'
      .controls  
        %label.checkbox
          =f.check_box :email_preference
          If this box is ticked, you'll receive an email every time a test run has failed tests.    
        


  .form-actions
    = f.submit "Update", :class => "btn btn-primary"

%section#subscription_details
  %h3 My Subscription
  - if current_user.status == :free
    %p
      You're currently on the 
      %strong=current_user.plan.name
      plan on a free trial.
      -# The following should be removed when we impose free trial limits:
      This free trial will not expire while Citrulu is in Beta.
        
      -# The following should stay commented out for now but will be required when we impose free trial limits:
        You have
        %strong
          =current_user.days_left_of_free_trial 
          days left 
        of your free trial.
    %p To access additional features, sign up to one of our premium plans.
  - if current_user.status == :inactive
    %p You don't currently have an active subscription and your free trial has expired.
  
  - if current_user.status != :paid && current_user.status != :cancelled
    .row
      .span3= link_to "Sign up to a plan", {controller: :payments, action: :choose_plan}, :class => "btn btn-success"
      .span9
        %p See the list of available plans and choose the one for you.
  
  - if current_user.status == :cancelled
    %p 
      You've requested to cancel your subscription. You can continue using the full service on the 
      %strong=current_user.plan.name
      plan until #{current_user.subscriber.active_until}.
      After that you'll still have full access to Citrulu, but your tests won't be run and you won't receive any alerts.
    %p
      If you change your mind and decide you'd like to reinstate your subscription before it has fully expired, please
      #{mail_to 'contact@citrulu.com', 'send us an email'}.
      
  - if current_user.status == :paid
    %p
      You're currently on the 
      %strong=current_user.plan.name
      plan and paying
      %strong=current_user.plan.print_cost
      per month.
    
      %ul.unstyled
        %li.row
          .span3=link_to "Upgrade my plan", {controller: :payments, action: :choose_plan}, :class => "btn btn-success"
          .span9
            %p See the list of available plans and choose the one for you.
        %li.row
          .span3=link_to "Change my payment details", {controller: :payments, action: :edit}, :class => "btn btn-primary"
          .span9
            %p Change the credit card details you use to pay for your subscription.
        %li.row
          .span3=link_to "Cancel my subscription", {controller: :payments, action: :destroy}, :method => :delete, :confirm => "Are you sure?", :class => "btn btn-danger"
          .span9
            %p
              This will stop the next payment from being requested - you can continue using Citrulu until then.
              -# The following if statement will be required when we implement free trials
              -# if current_user.is_within_free_trial?
                You're still within your free trial period so when your paid-for time elapses you may still be able to continue using Citrulu on the 
                %strong=Plan.default.name
                plan. When that expires, you'll
              -# else
              After that you'll still have full access to Citrulu, but your tests won't be run and you won't receive any alerts.
 
%h3 API access
%p Your API key is:
%div.api_key#api_key
  - if resource.authentication_token.blank?
    Not set (
    = link_to 'generate one', token_authentications_path, :method => :post
    )
  - else
    = resource.authentication_token

    %span
      = link_to "Generate new token", token_authentications_path, :method => :post, :confirm => "Are you sure?"
      |
      = link_to "Delete token", token_authentication_path(:id => resource.id), :method => :delete, :confirm => "Are you sure?"

-#%p
  - if resource.authentication_token
    %p 
      You can use this url to log in:
      %pre
        = link_to 'https://app.citrulu.com' + root_path(:auth_token => resource.authentication_token), :auth_token => resource.authentication_token

%h3 Terminate my account
%p
  Unhappy? You can terminate your account at any time by #{mail_to 'contact@citrulu.com', 'sending us an email', subject: "Please Terminate my Citrulu account"} and we'll do our best to delete everything. If you terminate your account, we will not be able to recover it.
