<%= form_for(@test_group) do |f| %>
  <% if @test_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test_group.errors.count, "error") %> prohibited this test_group from being saved:</h2>

      <ul>
      <% @test_group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :test_run_id %><br />
    <%= f.number_field :test_run_id %>
  </div>
  <div class="field">
    <%= f.label :page_content %><br />
    <%= f.text_area :page_content %>
  </div>
  <div class="field">
    <%= f.label :response_time %><br />
    <%= f.number_field :response_time %>
  </div>
  <div class="field">
    <%= f.label :time_run %><br />
    <%= f.time_select :time_run %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
