<p id="notice"><%= notice %></p>

<p>
  <b>Test run:</b>
  <%= @test_group.test_run_id %>
</p>

<p>
  <b>Page content:</b>
  <%= @test_group.page_content %>
</p>

<p>
  <b>Response time:</b>
  <%= @test_group.response_time %>
</p>

<p>
  <b>Time run:</b>
  <%= @test_group.time_run %>
</p>


<%= link_to 'Edit', edit_test_group_path(@test_group) %> |
<%= link_to 'Back', test_groups_path %>
