<p id="notice"><%= notice %></p>

<p>
  <b>Test file:</b>
  <%= @result.test_file_id %>
</p>

<p>
  <b>Time run:</b>
  <%= @result.time_run %>
</p>

<p>
  <b>Result:</b>
  <%= @result.result %>
</p>


<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
