%header.page-header
  %h1 Results
- if @recent_failed_groups.empty? && @test_runs.empty?
  %div.bigmsg  Your tests have not yet been run.
- elsif @recent_failed_groups.empty? && !@test_runs.empty?
  %div.bigmsg.all_pass All your tests are passing. Hooray!
- else
  .recentfails
    %h2="#{pluralize(@recent_failed_groups.count, 'test')} on #{pluralize(@recent_failed_groups.collect{|g| g.test_url}.uniq.count, 'page')} failed"
    - @recent_failed_groups.each_slice(3).each do |fail_batch|
      .row
        - fail_batch.each do |group|
          .span4
            .recent.fail
              %h3=group.test_url
              %p.last-updated="#{group.updated_at} from #{group.test_run.test_file.name}"
              - if !group.message.blank?
                %div
                  %p Uh-oh! We couldn't fetch this page because of an error:
                  %pre=group.message
              -else
                %ul.recentfails
                  -group.test_results.each do |result|
                    - next if !result.failed?
                    %li 
                      %i.icon-remove
                      %span.assertion
                        = result.assertion
                      = value_or_name(result)

.row
  .testruns.span8
    %h2 Previous test runs
    - if @test_runs.empty?
      %p You don't have any test results to display yet. Please check back a little later.
    - else 
      %ul.unstyled
        - @test_runs.each do |test_run|
          %li
            %a{:href => test_run_path(test_run), :class => test_run.number_of_failures == 0 ? 'pass' : 'fail'}
              %p
                %span.date=test_run.time_run.to_s(:test_run_time)
                %span.file=test_run.test_file.name
              %p.summary=ran_checks(test_run)

  .sidebar.span4
    %h2 Test files status
    %ul.unstyled
      - @test_files.each do |file|
        - if file.test_file_text == file.compiled_test_file_text 
          %li.pass 
            %h3=file.name
            - if file.last_run.nil?
              %p.summary="This file is working but has not yet been run."
            - else
              %p.summary="This file is working and was last executed on #{file.last_run.time_run}."
            %a.btn{:href => edit_test_file_path(file)} Edit
        - else
          %li.fail
            %h3=file.name
            %p.summary This file has not been compiled, or has not compiled successfully. 
            - if file.last_run.nil?
              %p.summary="No tests have yet been run."
            - else
              %p.summary Tests are being executed based on the <a href="" onclick="alert('Implement meeeee');">last successfully compiled file</a>, dated 10th March 2012.
              %p.summary="Those tests were last executed on #{file.last_run.time_run}"
            %a.btn{:href => edit_test_file_path(file)} Edit
