%h1 Test Runs
- if @test_runs.empty?
  %p You don't have any test runs to show yet
-else
  .row
    .span6
      =accordion("test_runs_list") do
        - @test_runs.each do |test_run|
          =accordion_group("test_run_#{test_run.id}") do
            =accordion_heading({:class => test_run.status}) do
              %time
                = test_run.time_run.to_s(:test_run_time)
              %span.outcome
                - if test_run.number_of_failures == 0
                  Everything works!
                - else
                  = test_run.number_of_failures
                  failures
            =accordion_body do
              %p 
                ="Ran #{test_run.number_of_checks} checks on #{test_run.number_of_pages} pages, of which #{test_run.number_of_failures} failed"
              %ul.unstyled
                - test_run.test_groups.each do |test_group|
                  %li
                    0n 
                    = link_to test_group.test_url, nil , :target => "_blank"
                    %ul.unstyled
                      -test_group.test_results.each do |test_result|
                        %li{ :class => "test_result #{test_class(test_result)}"}
                          %span.assertion
                            = test_result.assertion
                          = value_or_name(test_result)
              %p.close_link
                %a{ "data-parent" => "#test_runs_list", "data-target"=> "##{test_run.time_run.to_i}", "data-toggle" => "collapse"} Close