.page
  %h1 Results
  - if @test_runs.empty?
    %p You don't have any test runs to show yet
  -else
    - if @test_runs[1].number_of_failures == 0
      %h2.all_pass All your tests are passing. Hooray!
    - else
      - test_run = @test_runs[1]
      .recentfails
        %h2="#{test_run.number_of_failures} test#{test_run.number_of_failures == 1 ? '' : 's'} on #{test_run.number_of_pages} page#{test_run.number_of_pages == 1 ? '' : 's'} failed"
        .row
          - count = 0
          - test_run.test_groups.each do |test_group|
            -# next if test_group.number_of_failures == 0
            - count = count+1
            - if count == 3
              - count=0
              .row
            .span4
              .fail
                %h3=test_group.test_url
                %p.last-updated="#{test_group.updated_at} from #{test_run.test_file.name}"
                %ul
                  -test_group.test_results.each do |result|
                    - next if !result.failed?
                    %li 
                      %i.icon-remove
                      %span.assertion
                        = result.assertion
                      = value_or_name(result)

    .row
      .testruns.span8
        %h1 Previous test runs
        %ul.unstyled
          - @test_runs.each do |test_run|
            %li
              %a{:href => test_run_path(test_run), :class => test_run.number_of_failures == 0 ? 'pass' : 'fail'}
                %p
                  %span.date=test_run.time_run.to_s(:test_run_time)
                  %span.file=test_run.test_file.name
                %p.summary="Ran #{test_run.number_of_checks} checks on #{test_run.number_of_pages} pages with #{test_run.number_of_failures} failure#{test_run.number_of_failures == 1 ? '' : 's'}"

      .sidebar.span4
        %h1 Test files status

        %ul.unstyled
          %li.pass 
            %h3 Default test file
            %p.summary This file is working and was last executed on 20th March 2012 at 12:00
          %li.fail
            %h3 Default test file
            %p.summary This file is not compiling successfully. 
            %p.summary Tests are being executed based on the <a href="">last successfully compiled file</a>, dated 10th March 2012.
            %p.summary Those tests were last executed on 20th March 2012 at 12:00 
            %button Edit this file
   
-#%h1 Test Runs
-#- if @test_runs.empty?
  %p You don't have any test runs to show yet
-#-else
  .row
    .span6
      =accordion("test_runs_list") do
        - @test_runs.each do |test_run|
          =accordion_group("test_run_#{test_run.id}") do
            =accordion_heading({:class => test_run.status}) do
              %time
                = test_run.time_run.to_s(:test_run_time)
              %span.outcome
                - if test_run.number_of_failures == 0
                  Everything works!
                - else
                  = test_run.number_of_failures
                  failures
            =accordion_body do
              %p 
                ="Ran #{test_run.number_of_checks} checks on #{test_run.number_of_pages} pages, of which #{test_run.number_of_failures} failed"
              %ul.unstyled
                - test_run.test_groups.each do |test_group|
                  %li
                    0n 
                    = link_to test_group.test_url, nil , :target => "_blank"
                    %ul.unstyled
                      -test_group.test_results.each do |test_result|
                        %li{ :class => "test_result #{test_class(test_result)}"}
                          %span.assertion
                            = test_result.assertion
                          = value_or_name(test_result)
              %p.close_link
                %a{ "data-parent" => "#test_runs_list", "data-target"=> "##{test_run.time_run.to_i}", "data-toggle" => "collapse"} Close
