<h1>Listing test_runs</h1>

<table>
  <tr>
    <th>Test file</th>
    <th>Time run</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @test_runs.each do |test_run| %>
  <tr>
    <td><%= test_run.test_file_id %></td>
    <td><%= test_run.time_run %></td>
    <td><%= link_to 'Show', test_run %></td>
    <td><%= link_to 'Edit', edit_test_run_path(test_run) %></td>
    <td><%= link_to 'Destroy', test_run, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Test run', new_test_run_path %>
