= content_for :title, "Citrulu for website monitoring - re-send confirmation instructions"

= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post, :id => "signup", :class => "form-horizontal" }) do |f|
  .form-inner
    %fieldset
      %legend
        =image_tag('signup-citrulu-bot.png')
        %h2 Resend confirmation instructions
      
      = f.email_field :email, :placeholder => "Email address", :class => "full_width"

  = button_tag('Resend', :type => 'submit', :class => 'btn btn-signup')

%ul.unstyled.devise_links
  %li= link_to "Sign in", new_session_path(resource_name)
  %li= link_to "Sign up", new_registration_path(resource_name)

