%h2 Your weekly summary
%p{:style => content_p_styles} 
  Citrulu ran your tests #{pluralize(@stats[:week_total_test_runs], 'time')} this week. 
  - if @stats[:week_failed_test_runs] == 0
    All of your runs completed successfully.
  - else
    #{@stats[:week_total_test_runs] - @stats[:week_failed_test_runs]} of those runs completed successfully, but #{@stats[:week_failed_test_runs]} found problems.

%p The pages that had problems this week were:
%ul
  - @broken_pages.each do |page|
    %li 
      %strong=truncated_test_url(page[:url], 15)
      %br
      this page breaks #{page[:badness]} (#{pluralize(page[:fails_this_week], 'time')} this week)

%p Over all time:

%ul
  %li{:style => content_p_styles} http://flabberjabber.com has problems 39% of the time
  %li{:style => content_p_styles} http://google.com has problems 22% of the time
  %li{:style => content_p_styles} http://harry.com has problems 3.5% of the time

- unless @page_response_times.blank?
  - # TODO - do something in the case that @page response times is blank (i.e. no tests have been run in the last week)
  %p{:style => content_p_styles} Your average response times for the week are:
  %ul
    - @page_response_times.keys.sort.each do |url|
      %li{:style => content_p_styles}="#{ @page_response_times[url] }ms: #{ url }"

%table
  %tr
    %td{:width => "33%", :valign=> "top"}
      %h3 Up to date?
      %p{:style => content_p_styles} Is there more stuff you should be testing?
      %p{:style => content_p_styles} 
        %a{:href => ''} Update your tests
    %td{:width => "33%", :valign=> "top"}
      %h3 Full results
      %p{:style => content_p_styles} Want all the gory details?
      %br
      %p{:style => content_p_styles} 
        %a{:href => ''} Browse full results
    %td{:width => "33%", :valign=> "top"}
      %h3 Plan
      %p{:style => content_p_styles} Your current plan: <em>Cornichon</em>
      %br
      %p{:style => content_p_styles} 
        %a{:href => ''} Upgrade 


