!!!
%html
  %head
    %title= content_for?(:title) ? yield(:title) : "Citrulu: website monitoring with hosted front-end tests"
    %meta{name: "description", content: "Citrulu is a website testing and monitoring tool which runs automated front-end tests on your *live* websites to check that they're working, and sends you email alerts if they fail."}
    
    = content_for?(:stylesheet) ? yield(:stylesheet) : stylesheet_link_tag("application")
    = javascript_include_tag "application"
    = favicon_link_tag("favicon.png")

    = csrf_meta_tags


    :javascript
      var _kmq = _kmq || [];
      #{
        key = if Rails.env == 'production'
          "var _kmk = _kmk || '579068171dfcf09c02b5f78761cda442a1f468e3';"
        else
          "var _kmk = _kmk || '22cd4c4339b5f4b986cd054248f947715da7db5c';"
        end
        
        identity = if user_signed_in?
          "\n\n_kmq.push(['identify', '#{current_user.email}']);"
        else 
          ""
        end

        key + identity
      }

      function _kms(u){
        setTimeout(function(){
          var d = document, f = d.getElementsByTagName('script')[0],
          s = d.createElement('script');
          s.type = 'text/javascript'; s.async = true; s.src = u;
          f.parentNode.insertBefore(s, f);
        }, 1);
      }
      _kms('//i.kissmetrics.com/i.js');
      _kms('//doug1izaerwt3.cloudfront.net/' + _kmk + '.1.js');

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29765005-1']);
      _gaq.push(['_setDomainName', 'citrulu.com']);
      _gaq.push(['_trackPageview']);

      (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
  
       var is_ssl = ("https:" == document.location.protocol);
       var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
       
       document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));

  %body{ :class => "#{@controller_name} #{@action_name}"}      
    = content_for?(:content) ? yield(:content) : yield

    :javascript
       var feedback_widget_options = {};
  
       feedback_widget_options.display = "overlay";
       feedback_widget_options.company = "citrulu";
       feedback_widget_options.placement = "left";
       feedback_widget_options.color = "#222";
       feedback_widget_options.style = "idea";
            
       var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);

       #{ render "layouts/km_events" }

