!!!
%html
  %head
    %title Citrulu
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{ :class => "#{controller_name} #{params[:action]}"}
    - if user_signed_in?
      %div.banner.beta
        .container
          %strong Thanks for joining the Beta!
          Citrulu is free for a limited time. It's early days, so if you have ideas or find bugs, please let us know by using the feedback tab.
      - if current_user.number_of_domains > current_user.plan.number_of_sites && controller_name != "payments"
        %div.banner.alert-error
          .container
            %strong Warning
            Your current plan allows #{current_user.plan.number_of_sites} domains to be tested. Your test files currently check #{current_user.number_of_domains} domains. Not all limits are not enforced during the beta, but you may wish to 
            =link_to "upgrade", "choose_plan"
            to a plan which reflects your usage.

    = content_for?(:content) ? yield(:content) : yield

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29765005-1']);
      _gaq.push(['_trackPageview']);
      #{ render "layouts/ga_events" }

      (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
  
       var is_ssl = ("https:" == document.location.protocol);
       var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
       
       document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));

    :javascript
       var feedback_widget_options = {};
  
       feedback_widget_options.display = "overlay";
       feedback_widget_options.company = "citrulu";
       feedback_widget_options.placement = "left";
       feedback_widget_options.color = "#222";
       feedback_widget_options.style = "idea";
            
       var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);

