!!!
%html
  %head
    %title Citrulu
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{ :class => "#{controller_name} #{params[:action]}"}
    %div.banner
      .container
        - if user_signed_in?
          %p
            %strong Thanks for joining the Alpha!
            We really appreciate the help making Citrulu MOAR BETTER. If you have ideas or find bugs, please use the feedback tab.
        - else
          %p!="<strong>Citrulu is now in Alpha!</strong> Already got an account, or an invitation? If so, you can <a href='#{new_registration_path(:user)}'>sign up</a>, or <a href='#{new_session_path(:user)}'>log in</a>. If you'd like to get an invitation, <a href='/'>sign up here</a>!"

    = content_for?(:content) ? yield(:content) : yield
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29765005-1']);
      _gaq.push(['_trackPageview']);

      (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
  
       var is_ssl = ("https:" == document.location.protocol);
       var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
       
       document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));

    :javascript
       var feedback_widget_options = {};
  
       feedback_widget_options.display = "overlay";
       feedback_widget_options.company = "citrulu";
       feedback_widget_options.placement = "left";
       feedback_widget_options.color = "#222";
       feedback_widget_options.style = "idea";
            
       var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);

