= content_for :stylesheet do
  =stylesheet_link_tag("application_logged_out")

- content_for :content do
  %header#banner.navbar.navbar-fixed-top
    .navbar-inner
      .container
        %a.btn.btn-navbar{ 'data-toggle' => "collapse", 'data-target' => ".nav-collapse" }
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to image_tag('logo.png'), BROCHUREWARE, :class => 'brand'
        %nav#nav-main.nav-collapse.collapse
          %ul#menu-primary-navigation.nav
            %li= link_to 'What is Citrulu?', "#{BROCHUREWARE}/#3steps"
            %li= link_to 'Features', "#{BROCHUREWARE}/#features"
            %li= link_to 'Pricing', "#{BROCHUREWARE}/#pricing"
            %li= link_to 'Login', new_session_path(resource_name), :class => 'btn btn-login'
            %li.btn.btn-signup-nav= link_to 'Sign Up', new_registration_path(resource_name)
              
  .blue-bg
    .container-fluid

      - flash.each do |name, message|
        = flash_message(name, message)
      = devise_error_messages!

    = yield

  .blue-bg.blue-bg-finish

  %footer#content-info.container
    .row-fluid
      .span3
        = link_to image_tag('dxw-logo.png'), 'http://www.dxw.com', :alt => 'Made by DXW'
      .footer-social
        %p
          = link_to image_tag('twitter.png'), 'http://www.twitter.com/citrulu', :alt => 'Citrulu Twitter'
      .footer-links.span8
        %ul#menu-footer-navigation
          %li= link_to 'Support', 'http://www.citrulu.com/support'
          %li= link_to 'Terms & Conditions', 'http://www.citrulu.com/terms'
          %li= link_to 'Privacy Policy', 'http://www.citrulu.com/privacy'
          %li= link_to 'Support', 'http://www.citrulu.com/api'


= render :template => 'layouts/application'
