- content_for :content do
  
  - if current_user.status != :inactive && current_user.status != :free
    .banner.beta
      .container
        %strong Thanks for joining the Beta!
        It's early days, so if you have ideas or find bugs, please let us know by using the feedback tab.
  - else
    - if params[:controller] != "payments" 
      - if current_user.status == :inactive
        =render partial: "inactive_banner"
      - if current_user.status == :free
        =render partial: "free_trial_banner"
  =render partial: "limits_banner"
  
  
  %div.container
    .navbar.navbar-inverse
      .navbar-inner
        .container
          .brand 
            = link_to 'Citrulu', test_files_path
          %div
            - if user_signed_in?
              %ul.nav
                = nav_link "Home", test_files_path
                = nav_link "Results", test_runs_path
                = nav_link "Account Settings", edit_user_registration_path
                = nav_link "Pricing Plans", { controller: :payments, action: :choose_plan }
          #user_nav
            - if user_signed_in?
              = "Signed in as #{current_user.email}."
              = "Not you?"
              = link_to( 'Sign out', destroy_user_session_path, :method => :delete )
            - else 
              = link_to( "Sign up", new_user_registration_path )  + " or " + link_to( "sign in", new_user_session_path )
      
    #flash_messages
    - flash.each do |name, message|
      = flash_message(name, message)
    = yield
    %footer
      .row
        .citrulu.span8
          .content
            %a.brand{:href => '/'} Citrulu
            | Built with love by <a href="http://dxw.com">dxw</a>
            %br
            = mail_to("contact@citrulu.com", "Contact")
            | 
            = link_to("Support", "#{BROCHUREWARE}/support")
            | 
            = link_to("Terms and Conditions", "#{BROCHUREWARE}/terms")
            | 
            = link_to("Privacy Policy", "#{BROCHUREWARE}/privacy")
            | 
            = link_to("API", "#{BROCHUREWARE}/api")
        .span2
          .content
            =twitter_button
        .logo.span2
          .content
            %a{:href => "http://dxw.com"}
              = image_tag("DXW-logo-small.png")

= render :template => 'layouts/application'
