- content_for :content do
  %div.container
    .navbar
      .navbar-inner
        .container
          %h2.brand 
            = link_to 'Citrulu', test_files_path
          %div
            - if user_signed_in?
              %ul.nav
                = nav_link "Home", test_files_path
                = nav_link "Results", test_runs_path
                = nav_link "Account Settings", edit_user_registration_path
          #user_nav
            - if user_signed_in?
              = "Signed in as #{current_user.email}."
              = "Not you?"
              = link_to( 'Sign out', destroy_user_session_path, :method => :delete )
            - else 
              = link_to( "Sign up", new_user_registration_path )  + " or " + link_to( "sign in", new_user_session_path )
    #flash_messages
    - flash.each do |name, message|
      = flash_message(name, message)
    = yield
    %footer
      .row
        .citrulu.span8
          .content
            %a.brand{:href => '/'} Citrulu
            | Built with love by <a href="http://dxw.com">dxw</a>
            %br
            = link_to("Terms of use", :action => "terms", :controller => "website")
        .span2
          .content
            =twitter_button
        .logo.span2
          .content
            %a{:href => "http://dxw.com"}
              = image_tag("DXW-logo-small.png")

= render :template => 'layouts/application'
