- content_for :content do
  #navbar.navbar
    .navbar-inner
      .container
        %h2.brand Simple Front-End Testing
        #user_nav
          - if user_signed_in?
            = "Signed in as #{current_user.email}."
            = "Not you?"
            = link_to( 'Sign out', destroy_user_session_path, :method => :delete )
          - else 
            = link_to( "Sign up", new_user_registration_path )  + " or " + link_to( "sign in", new_user_session_path )
  #flash_messages
  - flash.each do |name, message|
    = flash_message(name, message)
  = yield
= render :template => 'layouts/application'
